.main {
    color: rgb(37, 59, 223);
    text-align: center;
    font-size: 2.5em;
}
.tag {
    color: rgb(156, 77, 230);
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
}
.div {
    background-color: aquamarine;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}
.body {
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10%;
}
.div2 {
    border-style: dashed;
}